.row
  %h1 About Volo Airsport
  %p
    Volo Airsport is a game about skydiving that is currently in early development made by Martijn Zandvliet.
    %a{:href => "http://www.volo-airsport.net/blog"} Check out his blog
    for more info !
  
  %h1 About Volo Community
  %p 
    Volo Community is fan website made to put in relation fans and users of Volo Airsport.